archive/backups/6shacte6h6dPfgiT.json
{
  "createdAt": "2025-05-12T07:14:17.224Z",
  "updatedAt": "2025-05-14T06:17:53.000Z",
  "id": "6shacte6h6dPfgiT",
  "name": "Telegram AI Chat",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -360,
        -100
      ],
      "id": "0811f19a-f812-4e4f-a113-f6c5e3cef2b4",
      "name": "Telegram Trigger",
      "webhookId": "46b97a78-0281-4ee2-b8d9-95f54d66487c",
      "credentials": {
        "telegramApi": {
          "id": "Poh8NuuRxRBlskOc",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -140,
        -100
      ],
      "id": "1c37cb5f-2251-46f3-8da5-c09180e45106",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-3-7-sonnet-20250219",
          "cachedResultName": "Claude 3.7 Sonnet"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -140,
        120
      ],
      "id": "fbbf4a8b-bd00-4d17-97ee-b3fcfad91b2e",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "Oy3TeFj69s2UzWWD",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "572899219",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        220,
        -100
      ],
      "id": "0e4f1662-1db5-46ff-a6f5-6e1dcffdb076",
      "name": "Telegram",
      "webhookId": "f3b5e7e3-b1f9-48de-b08a-8ec4bae08244",
      "credentials": {
        "telegramApi": {
          "id": "Poh8NuuRxRBlskOc",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "fd398dd7-456a-4e63-8d7d-c76621064736",
  "triggerCount": 1,
  "tags": []
}