archive/backups/sUbciQTISgBDkmEf.json
{
  "createdAt": "2025-05-15T09:58:00.878Z",
  "updatedAt": "2025-05-15T10:06:12.000Z",
  "id": "sUbciQTISgBDkmEf",
  "name": "MCP Client 2",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -660,
        -40
      ],
      "id": "7c7efdd5-10f5-403e-bd64-f5adcabfe367",
      "name": "When chat message received",
      "webhookId": "ccf3c8d9-d71a-4e50-96de-94300c21ae49"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Steps to follow\n\nUse the Date and Time tool always to check the current datetime.\n\nUse the Google Calendar tool to help the use create, read, update and delete calendar events and tasks\n\n# User message\n\n{{ $json.chatInput }}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -440,
        -40
      ],
      "id": "6fcd4aa4-fb0e-4c70-b731-9b0065f45983",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-3-7-sonnet-20250219",
          "cachedResultName": "Claude 3.7 Sonnet"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -540,
        180
      ],
      "id": "aaad5f1b-fd4e-4eaf-8c80-f92121cda32f",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "Oy3TeFj69s2UzWWD",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "sseEndpoint": "https://8f26-120-29-86-81.ngrok-free.app/mcp/590a1400-10e5-4b71-90be-a390e53f0a13/sse",
        "authentication": "bearerAuth"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        -100,
        180
      ],
      "id": "f0f62ee5-9897-48c7-806f-276c1a607dda",
      "name": "MCP Client",
      "credentials": {
        "httpBearerAuth": {
          "id": "T1mZXTQ8vixFbqit",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -340,
        180
      ],
      "id": "617a0e68-d4c9-4302-a53b-b1dffa8a9034",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "heYRS3rYQg4i97FP",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "d96faf7f-10ec-4eac-9239-2808db994a26",
  "triggerCount": 0,
  "tags": []
}